.idea/
/app/public/web/bundles/
/app/public/app/bootstrap.php.cache
/app/public/var/cache/*
/app/public/app/config/parameters.yml
/app/public/var/logs/*
!app/public/var/cache/.gitkeep
!app/public/var/logs/.gitkeep
/app/public/phpunit.xml
/app/public/vendor/
/app/public/bin/*
!app/public/setup/load-fixtures.sh
/app/public/credentials.yml
/app/public/web/css/*
/app/public/web/js/*
/app/public/composer.phar
/app/public/var/sessions/
!app/public/var/sessions/.gitkeep