<h2>Hello {{ user.username }}!</h2>

<h2>This email has been sent to you because of password reset being requested in the Fishiri system. If you have not requested it - just ignore this email.</h2>
<p>To reset your password - please visit <a href="{{ confirmationUrl }}">this link</a></p>

<p>
    Regards,
    Fishiri staff
</p>